$TTL 1W
@	IN	SOA	{{ ansible_hostname }}.{{ baseName }}.{{ baseDomain }}.	root (
			{{ ansible_date_time.epoch }}	; serial
			3H		; refresh (3 hours)
			30M		; retry (30 minutes)
			2W		; expiry (2 weeks)
			1W )		; minimum (1 week)
@	IN 	NS 	{{ ansible_hostname }}.{{ baseName }}.{{ baseDomain }}.
;
{{ srv_ip.split('.')[3] }}	IN	PTR	{{ ansible_hostname }}.{{ baseName }}.{{ baseDomain }}.

{% for l in nodes.auto %}
{{ l.ipaddr.split('.')[3] }}	IN	PTR	{{ l.name }}.{{ baseName }}.{{ baseDomain }}.
{% endfor %}