$TTL 1W
@	IN	SOA	{{ ansible_hostname }}.{{ baseName }}.{{ baseDomain }}.	root (
			{{ ansible_date_time.epoch }}	; serial
			3H		; refresh (3 hours)
			30M		; retry (30 minutes)
			2W		; expiry (2 weeks)
			1W )	; minimum (1 week)
@	IN	NS	{{ ansible_hostname }}.{{ baseName }}.{{ baseDomain }}.
;
{{ ansible_hostname }} IN A {{ srv_ip }}

{% for l in nodes.auto %}
{{ l.name }} IN A {{ l.ipaddr }}
{% endfor %}